body {
    background:
        url(../img/capa.png),
        url(../img/ruido.png),
        linear-gradient(45deg, #ff4169, #7c26f8)
    ;
    background-attachment: fixed;
}
main .carousel-fade .active.carousel-item-start,
main .carousel-fade .active.carousel-item-end {
    transition: opacity .5s;
}
main .carousel-item {
    transition: transform 0.6s ease-in-out;
}
main h1 {
    font-weight: 900;
    letter-spacing: -0.04em;
    margin-bottom: 30px;
}
main .btn {
    padding: 15px 46px;
    margin: 20px 10px 0 10px;
}
main .btn-primary {
    background-color: #7c26f8;
    border-color: #7c26f8;
}
main .btn-primary:hover {
    background-color: #6207e3;
    border-color: #6207e3;
}
section {
    padding-top: 15px;
    padding-bottom: 15px;
}
figure {
    margin: 0;
}
#o-que-tem h2,
#o-que-tem h3 {
    color: #7c26f8;
}
.nav-link:hover,
#facil h2,
#facil h3 {
    color: #9bf0e1 !important;
}
footer {
    padding: 80px 0 50px 0;
}
.rotate-7deg {
    transform: rotate(7deg);
}
.img-shadow {
    filter: dropShadow(0 .5rem 1rem greenyellow);
}
.fs-small {
    font-size: 0.875em;
}
.debug {
    border: 2px dashed cyan;
    outline: 2px dashed magenta;
}
/* xs and down */
@media (max-width: 575.98px) {}
/* sm and up */
@media (min-width: 576px) {}
/* sm and down */
@media (max-width: 767.98px) {
    main h1 {
        font-size: 3em;
    }
    nav .divider {
        width: auto;
        height: 1px;
        margin-right: 0;
        margin-left: 0;
    }
}
/* md and up */
@media (min-width: 768px) {
    main h1 {
        font-size: 5em;
    }
    nav .divider {
        width: 1px;
        height: auto;
    }
}
/* md and down */
@media (max-width: 991.98px) {}
/* lg and up */
@media (min-width: 992px) {
    main h1 {
        font-size: 5em;
    }
}
/* lg and down */
@media (max-width: 1199.98px) {}
/* xl and up */
@media (min-width: 1200px) {}
/* xl and down */
@media (max-width: 1399.98px) {}
/* xxl and up */
@media (min-width: 1400px) {}